.navbar {
  background-color: yellowgreen;
}

.offcanvas {
  background-color: yellow;
}

#footer-copyright {
  background-color: yellowgreen;
}

#map {
  height: 91vh;
}

.popup-imagePlaceholder {
  min-width: 100%;
  min-height: 200px;
}

.popup-photo {
  margin-top: 5px;
  width: 100%;
}