.navbar {
  background-color: yellowgreen;
}

.offcanvas {
  background-color: yellow;
}

#footer-copyright {
  background-color: yellowgreen;
}

#map {
  height: 90vh;
}

.popup-photo {
  margin-top: 5px;
  width: 100%;
}